* {
  margin: 0;
  border: 0;
}

nav {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  background-color: #9d65c9;
}

.cabeca {
  display: flex;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-between;
  grid-column: 1/-1;
  background-color: #2a3d66;
  padding: 50px 20px;
  border-top: 0px;
}

.busca {
  display: flex;
  align-items: center;
}
.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 700px;
  align-items: center;
  margin: 0 400px;
}

.pe {
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #d789d7;
  grid-column: 1/-1;
  padding: 50px 20px;
  align-items: center;
}

.inicio {
  display: flex;
  align-items: center;
}
