* {
  margin: 0;
  border: 0;
}

nav {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  background-color: #9d65c9;
}

.cabeca {
  display: flex;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-between;
  grid-column: 1/-1;
  background-color: #2a3d66;
  padding: 50px 20px;
  border-top: 0px;
}

.busca {
  display: flex;
  align-items: center;
}
.video > h2 {
  align-items: center;
  justify-content: center;
  margin: 0 200px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #9d65c9;
  grid-column: 1/-1;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 400px;
}

video {
  max-height: 500px;
  max-width: 700px;
  padding: 20px 0 60px 0;
}

.pe {
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #d789d7;
  grid-column: 1/-1;
  padding: 50px 20px 80px;
  align-items: center;
}

.inicio {
  display: flex;
  align-items: center;
}

.inicio:hover {
  background-color: #5d54a4;
  color: white;
}
